@use '../../styles/variables.scss';

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: variables.$max-width;
  background-color: white;
  padding: 0 16px;
  margin-bottom: 32px;
}
