// ./_variables.scss
@use './_variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: variables.$white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}