// colors
$yellow: #FFE600;
$black: #333333;
$grey: #666666;
$light-grey: #999999;
$white: #FFFFFF;
$blue: #3483FA;
$blue-hover: #2968CC;
$max-width: 979px;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
}