@use '../../styles/variables.scss';

.loading {
  width: 100%;
  height: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingText {
  font-size: 18px;
  font-weight: 400;
  color: variables.$light-gray;
}
